/build/
/.gradle/
/.idea/
/.nb-gradle/
/bin/
/.settings/
/.classpath
/.project
/.vscode/
/.tools/
local.properties
**/build
out/
kcsg/cyl.stl
arduino_mount.csgs
importer_test.csgs
lib_test.csgs
test_stl.csgs
